*.egg-info
venv
.venv
.vscode
.DS_Store
evidently/examples/.DS_Store
evidently/nbextension/static/index.*
example_scripts
.ipynb_checkpoints
.idea
.mypy_cache
.pytest_cache
dist
build
MANIFEST

profile.json

__pycache__