*.egg-info
venv
.venv*
.vscode
.DS_Store
examples/.DS_Store
example_scripts
.ipynb_checkpoints
.idea
.mypy_cache
.pytest_cache
dist
build
MANIFEST

profile.json

__pycache__

evidently-openapi-schema.yml

# see .devcontainer/devcontainer.json
test-workspace
workspace-for-visual-testing
