# keep in sync with setup.py install_require block (but there should be set as lower bound).
dataclasses==0.6
plotly==5.5.0
statsmodels==0.12.2
scikit-learn==0.24.0
pandas==1.1.5
numpy==1.19.5
scipy==1.5.4
requests==2.19.0
PyYAML==5.1