# keep in sync with setup.py install_require block (but there should be set as lower bound).
plotly==5.10.0
statsmodels==0.12.2
scikit-learn==0.24.0
pandas==1.3.5
numpy==1.19.5
nltk==3.6.7
scipy==1.5.4
requests==2.21.0
pydantic==1.10
typer==0.3
rich==13
iterative-telemetry==0.0.5
watchdog==3.0.0
pyarrow==11.0.0