# keep in sync with setup.py extra_require block.
wheel==0.35.1
setuptools==50.3.2
flake8==4.0.1
jupyter==1.0.0
mypy==0.920
pytest==6.2.5
types-PyYAML==6.0.1
types-requests==2.26.0
types-dataclasses==0.6
pillow==9.5.0
pytest-reportlog==0.4.0
# Be careful on Black version update: this is the last release that supports running Black on Python 3.6
black==22.8.0
isort==5.10.1
