:root {
    --pdoc-background: #050810;
    --pdoc-nav-background: #050810;
}

.pdoc {
    /* Minimalistic dark theme inspired by React Router */
    --text: #f1f5f9;
    --muted: #94a3b8;
    --link: #60a5fa;
    --link-hover: #93c5fd;
    --code: #18212f;
    --active: #0c2447;

    --accent: #161926;
    --accent2: #334155;
    --border: #334155;

    --nav-hover: rgba(255, 255, 255, 0.05);
    --name: #60a5fa;
    --def: #34d399;
    --annotation: #22d3ee;

    --pad-global: clamp(0.5rem, 2vw, 1.75rem);

    /* Typography */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background: var(--pdoc-background);
    color: var(--text);
}
