## Airflow
airflow/logs
airflow/*.err
airflow/*.log
airflow/*.out
airflow/*.pid
airflow/unittests.cfg
airflow-webserver.pid
airflow/standalone_admin_password.txt


## Configs
.env

## IDEs
.idea
.vscode

## Mac OS
.DS_Store

## Project
data/*
db/*
grafana/volume
models/*
reports/*
notebooks/*
logs/*
.dev/*

## Python
venv
.venv
__pycache__
