<div class="version-header">
    <a class="all-versions-link" href="{{ env['API_REFERENCE_INDEX_HREF'] | default('/') }}">All versions</a>
    <p class="version-info" title="{{ env['VERSION'] | default('1.0') }}">{{ env['VERSION'] | default('1.0') }}</p>
</div>
